<h1 class="mb-4">Restaurants</h1>

<%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-primary mb-3" %>

<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
      <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none" %>
    </li>
  <% end %>
</ul>
